@model Ultimus.ComponentManager.Models.HistoryConfiguration

@{
    ViewBag.Title = "Configuración de Historial";
}

@MyHelpers.Tabs("history", Url)

<div class="row">
    <div class="col-md-8">

        @if ((ViewBag.SaveChanges != null) && (ViewBag.SaveChanges))
        {
            <div class="alert alert-success">
                <strong>The changes was saved correctly.</strong>
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.IdConfiguration)

            <div class="form-group">
                @*@Html.LabelFor(model => model.CompletedTaskDeleted)*@
                <b>Habilitar Evento Tarea Completada Borrada</b>
                @Html.CheckBoxFor(model => model.CompletedTaskDeleted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.CompletedTaskDeleted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.IncidentAborted)*@
                <b>Habilitar Evento Incidente Abortado</b>
                @Html.CheckBoxFor(model => model.IncidentAborted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.IncidentAborted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.IncidentCompleted)*@
                <b>Habilitar Evento Incidente Completado</b>
                @Html.CheckBoxFor(model => model.IncidentCompleted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.IncidentCompleted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.IncidentInitiated)*@
                <b>Habilitar Evento Incidente Iniciado</b>
                @Html.CheckBoxFor(model => model.IncidentInitiated, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.IncidentInitiated, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.StepAborted)*@
                <b>Habilitar Evento Etapa Abortada</b>
                @Html.CheckBoxFor(model => model.StepAborted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.StepAborted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskActivated)*@
                <b>Habilitar Evento Tarea Activada</b>
                @Html.CheckBoxFor(model => model.TaskActivated, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskActivated, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskAssigned)*@
                <b>Habilitar Evento Tarea Asignada</b>
                @Html.CheckBoxFor(model => model.TaskAssigned, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskAssigned, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskCompleted)*@
                <b>Habilitar Evento Tarea Completada</b>
                @Html.CheckBoxFor(model => model.TaskCompleted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskCompleted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskConferred)*@
                <b>Habilitar Evento Tarea Conferida</b>
                @Html.CheckBoxFor(model => model.TaskConferred, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskConferred, null, new { @class = "label label-warning" })
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskDelayed)*@
                <b>Habilitar Evento Tarea Retrasada</b>
                @Html.CheckBoxFor(model => model.TaskDelayed, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskDelayed, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskLate)*@
                <b>Habilitar Evento Tarea Tarde</b>
                @Html.CheckBoxFor(model => model.TaskLate, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskLate, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TaskResubmitted)
                @Html.CheckBoxFor(model => model.TaskResubmitted, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskResubmitted, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.TaskReturned)*@
                <b>Habilitar Evento Tarea Devuelta</b>
                @Html.CheckBoxFor(model => model.TaskReturned, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskReturned, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TaskSubmitFailed)
                @Html.CheckBoxFor(model => model.TaskSubmitFailed, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskSubmitFailed, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TasksPerDayThresholdReached)
                @Html.CheckBoxFor(model => model.TasksPerDayThresholdReached, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TasksPerDayThresholdReached, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.QueueTaskActivated)
                @Html.CheckBoxFor(model => model.QueueTaskActivated, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.QueueTaskActivated, null, new { @class = "label label-warning" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TaskDeletedOnMinResponseComplete)
                @Html.CheckBoxFor(model => model.TaskDeletedOnMinResponseComplete, new { @class = "form-control", @placeholder = "Connection String", @style = "width:25px;height:25px;text-align:right;" })
                @Html.ValidationMessageFor(model => model.TaskDeletedOnMinResponseComplete, null, new { @class = "label label-warning" })
            </div>
            <p>
                <input type="submit" value="Grabar la configuración de Historial" class="btn btn-success" />
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("ProcessMaintenance", "FormConfiguration")'">
                    Cancelar
                </button>
            </p>

        }
    </div>

    <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Historial Ultimus</h3>
                </div>
                <div class="panel-body">
                    Historial Ultimus maneja cada evento que produce procesos publicados en Ultimus BPM Server.
                </div>
            </div>

        </div>

    </div>

