<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../favicon.ico">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/awesome")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><i class="fa fa-archive fa-1x fa-fw"></i>BPM Complement</a>
            </div>
            <div class="navbar-collapse collapse" style="text-align: right; vertical-align:central; color: white;">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar" style="margin-top: -10px;">



                    @*@if (Request.RawUrl == "/Home/Index")
                    {
                        <li style="background-color: white;"><a href="@Url.Action("Index", "Home")" onclick="LoadMessage();" style="color:black;"><i class="fa fa-bar-chart-o fa-4x fa-fw"></i>
                            <br />
                            Home</a></li>
                    }
                    else
                    {*@
                        <li><a href="@Url.Action("Index", "Home")" onclick="LoadMessage();"><i class="fa fa-bar-chart-o fa-4x fa-fw"></i>
                            <br />
                            Inicio</a></li>
                    @*}

                    @if (Request.RawUrl == "/Audit/Index")
                    {
                        <li style="background-color: white;"><a href="@Url.Action("Index", "Audit")" onclick="LoadMessage();" style="color:black;"><i class="fa fa-cogs fa-4x fa-fw"></i>
                            <br />
                            Audit Configuration</a></li>
                    }
                    else
                    {*@
                   
                        <li>
                            <a id="linkAuditoria" href="@Url.Action("Index", "Audit")">
                                <i class="fa fa-cogs fa-4x fa-fw"></i>
                                <br />
                                Configuración de Auditoría
                            </a>
                        </li>
                                @*}

                    @if (Request.RawUrl == "/FormConfiguration/Index")
                    {
                        <li style="background-color: white;"><a href="@Url.Action("Index", "FormConfiguration")" onclick="LoadMessage();" style="color:black;"><i class="fa fa-desktop fa-4x fa-fw"></i>
                            <br />
                            Process Configuration</a></li>
                    }
                    else
                    {*@
                        <li><a id="linkProcesos" href="@Url.Action("Index", "FormConfiguration")" onclick="LoadMessage();">
    <i class="fa fa-desktop fa-4x fa-fw"></i>
    <br />
    Configuración de Procesos
</a></li>

                    @*}*@


                    <li><a href="#"><i class="fa fa-cloud fa-4x fa-fw"></i>
                        <br />
                        Bitácora de Registros</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="color: black;">

                <div class="row">
                    <div class="col-md-8">
                        <h1 class="page-header">@ViewBag.Title</h1>

                        @*@Html.MvcSiteMap().SiteMapPath()*@

                    </div>
                    <div style="font-family:Vani; font-size:18px; font-weight:bold">Powered by:</div>
                    <div class="col-md-4">
                        <img src="@Url.Action("LogoSmall", "Home")" style="width:246px; height:52px;"/>
                    </div>
                </div>

                <div id="body" style="color: black;">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div id="toast-container" class="toast-top-right">
    </div>
    @*    <script type="text/javascript">
        var server = '@Request.Url.AbsoluteUri.Replace(Request.Url.AbsolutePath, string.Empty)/';
    </script>*@

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
    @Scripts.Render("~/bundles/jquery-migrate")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/Scripts/Ultimus-Framework")

    @RenderSection("scripts", required: false)
</body>
</html>
